@font-face {
  font-family: "Muller";
  src: url("../fonts/2DF5B4_F_0.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/2DF5B4_D_0.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/2DF5B4_2_0.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
body {
  margin: 0; /* Внешние отступы */
  /*display: flex;
  flex-direction: column;
  justify-content: space-between;*/
  min-width: 320px; /* Минимальная ширина блока */
  min-height: 100vh; /* Минимальная высота блока 100% окна браузера*/
  font-size: 14px; /* Размер шрифта */
  line-height: 1.375em;
  font-family: "Arial", sans-serif; /* Шрифт */
  color: #333333; /* Цвет шрифта */
  word-wrap: break-word; /* Перенос слов */
  background-color: #2d2d44; /* Цвет фона */
}
.muller body {
  font-family: "Muller", "Arial", sans-serif; /* Шрифт */
}
.visually-hidden:not(:focus):not(:active) {
	position: absolute;
	
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	
	white-space: nowrap;
	
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.page-header {
  position: relative;
  
  min-height: 60px;
  color: #ffffff;
  background-color: #2d2d44;
}
.page-header__logo {
  display: flex;
  flex: 0 0 auto;
  height: 60px;
}
.page-header__logo img {
  display: block;
  width: 80px;
  height: 36px;
  margin: auto 0;
}
.page-header__logo:focus img, .page-header__logo:hover img {
  opacity: 0.5;
}
.main-nav {
  position: relative;
  flex: 1 1 auto;
}
.main-nav li {
  margin: 0;
}
.main-nav__list::after {
  content: "";
  display: table;
  clear: both;
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
}
.main-nav__list--main .main-nav__item {
  float: left;
  width: 100%;
}
.main-nav__item {
  position: relative;
  white-space: nowrap;
  border-bottom: 1px solid #6c6c7c;
}
.main-nav__list--user {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
  max-width: 250px
}