@font-face {
  font-family: "Muller";
  src: url("../fonts/2DF5B4_F_0.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/2DF5B4_D_0.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/2DF5B4_2_0.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
.muller body {
  font-family: "Muller", "Arial", sans-serif;
}
.visually-hidden:not(:focus):not(:active) {
	position: absolute;
	
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	
	white-space: nowrap;
	
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
