@font-face {
  font-family: "Muller";
  src: url("../fonts/2DF5B4_F_0.woff2") format("woff2"), url("../fonts/2DF5B4_F_0.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/2DF5B4_D_0.woff2") format("woff2"), url("../fonts/2DF5B4_D_0.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/2DF5B4_2_0.woff2") format("woff2"), url("../fonts/2DF5B4_2_0.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
body {
  font-family: "Muller", "Arial", sans-serif; /* Шрифт */
}
.main-nav {
  display: flex;
  justify-content: space-between;
}
.main-nav__list {
  list-style: none;
  display: flex;
}

